body {
  font-family: 'Merriweather','Georgia',serif;
  box-sizing: border-box;
  padding: 20px 20px 60px;
  max-width: 680px;
  display: grid;
  align-content: center;
  min-height: 100vh;
  margin: 0 auto;
  line-height: 1.65;
  word-break: break-word;
  font-kerning: auto;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  hyphens: auto;
  text-align: center;
  /* text-decoration-style: white; */
  color: white;
  background: #200122;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



h1 {
  text-align: center;
  font-size: 45px;
}

h2 {
  /* color: #d400ff; */
  text-decoration-color: #d400ff;
}

p {
  text-align: center;
  font-size: 22px;
}

/* Trial */
/* https://www.w3schools.com/Css/tryit.asp?filename=trycss_forms */
input[type=text], select {
  width: 100%;
  font-size: 22px;  
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 22px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #522d2d;
  padding: 20px;
  margin-top: 20px;
}
